<template name="home">
  <div class="template-home">
    <div class="page-header">
      <h1>Events</h1>
    </div>
    {{#each events}}
      <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
          <h3>{{title}}</h3>
          <p>
            <b>Date: </b>{{date}}
          </p>
          <p>
            <b>Location: </b> {{location}}
          </p>
          <p>
            <b>Ticket price: </b>{{ticket_type.price}}
          </p>
          <p><a href="#" class="btn btn-primary" id="buttonDetail" role="button">Details</a></p>
        </div>
      </div>
    {{/each}}
  </div>
</template>
