<template name="printTicket">
  <div class="template-dashboard">
    <div class="page-header">
      <h1>Your tickets</h1>
    </div>
    {{#each uids}}
    <div>
      <div class="pull-left">
        <h2>{{title}}</h2>
        <h3>{{location}}</h3>
        <h4>{{date}}</h4>
      </div>
      <div class="pull-right">
        {{> QrCode text=this }}
      </div>
    </div>
    {{else}}
    <div>
      <div class="pull-left">
        <h3>Sorry. The number of requested tickets is to big.</h3>
      </div>
    </div>
    {{/each}}

  </div>
</template>
