<template name="dashboard">
  <div class="template-dashboard">
    <div class="page-header">
      <h1>Dashboard</h1>
    </div>
    {{#if event}}
    <ul class="list-group">
      {{#each items}}
        <li class="list-group-item">{{ name }} <span class="label label-default">{{ rating }}</span></li>
      {{/each}}
    </ul>
    {{else}}
      {{> createEventSnippet }}
    {{/if}}
    <a href="{{pathFor route='createEvent'}}"><button type="button" id='#create-new-event' class="btn btn-lg btn-primary">New</button></a>

  </div>
</template>
